@import url("https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --color-white: #fffff7;
  --color-blue-1: #73b1d6;
  --color-blue-2: #4589b0;
  --color-blue-3: #1d628b;
  --color-gray: #444444;
  --color-black: #000000;
}

body {
  background-color: var(--color-blue-1);
  font-family: "Zen Dots", cursive;
  min-height: 100vh;
}

.cabecalho {
  width: 100%;
  padding: 20px;
  background-image: linear-gradient(
    135deg,
    #009ddf 0,
    #1d618b 50%,
    #152c3f 100%
  );
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}
.cabecalho .logo {
  font-size: 20px;
}
.cabecalho nav {
  display: flex;
}
.cabecalho nav ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
}
.cabecalho nav ul li a {
  transition: 200ms;
  color: var(--color-white);
  font-size: 18px;
  text-decoration: none;
}
.cabecalho nav ul li a:hover {
  color: var(--color-blue-1);
}
.product-container {
  width: calc(100% - 40px);
  margin: 0 auto;
  background-color: var(--color-blue-3);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}
.product-container .title {
  color: white;
  letter-spacing: 2px;
  font-size: 24px;
}
.product-container .product-content {
  margin-top: 40px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.product-container .product-content .card {
  background-color: #152c3f;
  padding: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
  flex-direction: column;
}
.product-container .product-content .card .name {
  color: white;
  font-size: 20px;
}
.rodape {
  width: 100%;
  padding: 20px;
  background-image: linear-gradient(var(--color-black), var(--color-gray));

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px;
}
.rodape h2 {
  font-size: 16px;
  color: var(--color-white);
  letter-spacing: 1.5px;
  padding-bottom: 6px;
}
.rodape h3 {
  font-size: 16px;
  color: var(--color-blue-1);
}

.hidden-element {
  display: none;
}
